@import 'colors';

/* FONTS */
$font-family: 'Source Sans Pro', sans-serif;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-size-xl: 20px;
$font-size-l: 18px;
$font-size-m: 14px;
$font-size-s: 12px;

/* COLORS */
$color-1: $white;
